.body{
 
  align-items: center;
  justify-content: center;
 height: 100vh;
}

.mainMenu{
  text-align: center;
  font-size:xx-large;
}

.ticTacToeBoard{
  display: flex;
  border: 30px solid pink;
  height: 100vw;
  width: 100vw;
  justify-content: space-evenly;
  background-color: aqua;
  flex-direction: column;
  
}

.theRow{
justify-content: space-evenly;
display: flex;
  
  height: 33.34%;
  width: 100%;

}

.square{
  background-color: green;
  height: 100%;
  width: 100%;
  border: 5px solid black
}
